<% if current_user %>
  <%= form_for Cheerup.new do |f| %>
  <div class="field"><%= f.text_area :content, rows: 3, cols: 40 %></div>
  <div class="actions"><%= f.submit "Add Cheerup" %></div>
  <% end %>
<% end %>